*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  color: #2b4378;
  background-color: #40a4bc;
  text-align: center;
  flex-wrap: wrap;
}

h1{
  margin-bottom: 5px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}

h3{
  font-size: 20px;
}

.logo{
  width:250px;
  margin-bottom: 10px;
}

.boton{
  background-color: #2b4378;
  border-color: #2b4378;
}

.botones{
  color: #2b4378;
  font-size: 20px;
}

section.dos{
  margin-bottom: 20px;
}