*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  color: #2b4378;
  background-color: #40a4bc;
  text-align: center;
}

header{
  text-align: center;
  color: #2b4378;
  margin-top:20px;
  margin-bottom: 25px
}

.uno{
  margin-bottom: 15px;
}

.nave{
  width:250px;
  margin-bottom: 20px;
}

.botones{
  border-color: #2b4378/*#d6863e*/;
}

.boton{
  background-color: #2b4378;
  border-color: #2b4378;
  margin-bottom: 15px;
}
